@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');

body{

    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    background: rgb(81, 218, 189);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 700px;
    background: rgba(245, 245, 245, 0.7);
    border-radius: 20px;
    padding: 25px;
}

input{

    width: 50%;
    padding: 8px 10px;
    background: transparent;
    border: 2px solid #000;
    border-radius: 20px;
    color: #000;
    outline: none;
}

input::placeholder{

    color: #000;
    font-family: 'Montserrat', sans-serif;
}

button{

    width: 35px;
    height: 35px;
    border-radius: 50%;
    border:none;
    background: #000;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    margin-top: 5px;
    
}

button:hover{
    background: rgb(11, 205, 163);
    color: black;
}

.list{

    margin-top: 20px;
}

.todo{

    background:rgba(0, 0, 0, 0.2);
    margin: 10px 0;
    padding: 10px;
    border-radius: 6px;
    font-size: 17px; 
}

#description{

    font-size: small;
    padding: 5px;
    color: rgb(153, 153, 153);
}